.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}