DOMAIN=
SITE_URL=
WP_HOME_URL=
ENABLE_HTTPS=true
WEB_PORT=8080
CERTBOT_EMAIL=
TZ=Europe/Kyiv

WORDPRESS_DB_NAME=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=

# For local HTTP-only testing on localhost:8080
# ENABLE_HTTPS=false
# DOMAIN=localhost
# SITE_URL=http://localhost:8080
# WP_HOME_URL=http://localhost:8080/blog
# WEB_PORT=8080
