.swiper-slide{
    width: fit-content !important;
}

.swiper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}