@import "tailwindcss";



.img > .slick-list >.slick-track>.slick-slide > div {
  display: grid;
  place-items: center;
  margin: auto;
  height: 574px;
  padding: 0px;
}
.review > .slick-list >.slick-track>.slick-active  {
  width: 539px;
}
.special-offers-slider > .slick-list >.slick-track>.slick-slide > div > div  {
  width: 488px;
  display: flex !important;
  flex-direction: column !important;

}
.special-offers-slider > .slick-list >.slick-track>.slick-slide  {
  width: 484px !important;


}

.roomslider > .slick-list >.slick-track>.slick-slide >div  {
  width: 509px !important;

} 
.roomslider > .slick-list >.slick-track>.slick-slide   {
  height: 539px !important;
  display: flex !important;
  justify-items: center !important;
  align-items: center !important;
  margin-right: 20px !important; 
  margin-left: 20px !important; 
}

.restaraunt-review> .slick-list >.slick-track>.slick-active>div{
  width: 332px !important;
  margin-right: 50px ;
}
@media (width > 1041px) {
  .roomslider > .slick-list {
      width: 2000px !important;
  }
  .roomslider > .slick-list  > .slick-track>.slick-slide {
      width: 300px !important;
      display: flex !important;
      justify-items: center !important;
      align-items: center !important;
  }
}

.special-offers-slider > .slick-list > .slick-track{
  height: 800px !important;
  overflow-y: hidden !important;
}

@media (width > 768px) {
  

}

@media(max-width:1024px){
  .review > .slick-list >.slick-track>.slick-active>div  {
    width: 299px;
  }
  .review > .slick-list >.slick-track>.slick-active  {
    width: 299px !important;

  }
  .img > .slick-list >.slick-track>.slick-slide > div {
    height: 350px;
  }
  .special-offers-slider > .slick-list > .slick-track > .slick-slide {
    width: 399px !important;
      }
}


@media (max-width: 768px) {
  .review > .slick-list >.slick-track>.slick-active>div  {
    width: 299px;
  }

  .img > .slick-list >.slick-track>.slick-slide > div {
    height: 280px;
  }
  .special-offers-slider > .slick-list >.slick-track>.slick-slide  {
    width: 269px !important;
  }
  .roomslider > .slick-list >.slick-track>.slick-slide   {

    margin-right: 0px !important; 
    margin-left: 0px !important; 
  }
  .hall > .slick-list{
    padding-left:25px !important;
    padding-right:25px !important;
  }
  .hall > .slick-list > .slick-track>.slick-slide{
    max-width: 405px !important;
    padding-right: 10px !important;

  }
  .review > .slick-list >.slick-track>.slick-active  {
    width: 299px !important;

  }
}





  