@import "tailwindcss";



.swiper { position: unset !important; }


.sliderContainer {   position: relative;   z-index: 2; height: 25rem; }


.img > .slick-list >.slick-track>.slick-slide > div {
  display: grid;
  place-items: center;
  margin: auto;
  height: 574px;
  padding: 0px;
}

.special-offers-slider > .slick-list >.slick-track>.slick-slide > div > div  {
  width: 488px;
  display: flex !important;
  flex-direction: column !important;

}

.special-offers-slider > .slick-list >.slick-track>.slick-current .slick-slide .slick-slide   {
  width: 589px !important;
}

.roomslider > .slick-list >.slick-track>.slick-slide >div  {
  width: 509px !important;

} 
.roomslider > .slick-list >.slick-track>.slick-slide   {
  height: 539px !important;
  display: flex !important;
  justify-items: center !important;
  align-items: center !important;
  margin-right: 20px !important; 
  margin-left: 20px !important; 
}


@media (width > 1041px) {
  .roomslider > .slick-list {
      width: 2000px !important;
  }
  .roomslider > .slick-list  > .slick-track>.slick-slide {
      width: 300px !important;
      display: flex !important;
      justify-items: center !important;
      align-items: center !important;
  }
}

.special-offers-slider > .slick-list > .slick-track{
  height: 800px !important;
  overflow-y: hidden !important;
}

@media (width > 768px) {
  

}

@media(max-width:1024px){

  .img > .slick-list >.slick-track>.slick-slide > div {
    height: 350px;
  }
  .special-offers-slider > .slick-list > .slick-track > .slick-slide {
    width: 399px !important;
      }
}



@media (max-width: 768px) {

.review > .slick-list  {
  padding: 0px !important;
}

  .img > .slick-list >.slick-track>.slick-slide > div {
    height: 280px;
  }
  .special-offers-slider > .slick-list >.slick-track>.slick-slide  {
    width: 269px !important;
  }
  .roomslider > .slick-list >.slick-track>.slick-slide   {
    width: 269px !important;
    margin-right: 0px !important; 
    margin-left: 0px !important; 
  }
  .home-room-slider > .slick-list >.slick-track>.slick-slide    {
    /* width: 269px !important; */
    margin-right: 0px !important; 
    margin-left: 0px !important; 
  }
  


}


@media screen and (min-width: 1024px) {
  .lg\:font-cofo-medium {
      font-family: 'CoFoSans-Medium', sans-serif;
  }
}

@media screen and (max-width: 1024px) {
  .lg\:font-cofo-medium {
      font-family: 'CoFoSans', sans-serif;
  }
  .md\:font-cofo-medium {
    font-family: 'CoFoSans-Medium', sans-serif;
  }
}
