@import "tailwindcss";

.filter-invert-brown{
    filter: invert(19%) sepia(20%) saturate(7470%) hue-rotate(355deg) brightness(93%) contrast(83%);
}
.filter-invert-white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(71deg) brightness(106%) contrast(102%);}
.filter-invert-gray{
    filter: invert(21%) sepia(0%) saturate(30%) hue-rotate(254deg) brightness(91%) contrast(88%);
}

  
.swiper-slide{
  width: fit-content;
 }

.header-about {
    position: relative;
    width: 100%;
    height: 100%; 
    background: linear-gradient(180deg, #252526 0%, rgba(37, 37, 38, 0) 49.56%, #252526 100%),
                linear-gradient(0deg, rgba(37, 37, 38, 0.35), rgba(37, 37, 38, 0.35));
    z-index: 10;
           
}


.last-align-center{
    text-align-last: center;
}


.icon {
    width: 20px;
    height: 20px;
  }
  @media (min-width: 768px) {
    .icon {
      width: 36px;
      height: 36px;
    }
  }
  
  svg {
    fill: currentColor;
  }

  .custom-leaflet-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .marker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: red; 
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .marker-icon {
    font-size: 20px;
    color: white;
    content: url("./assets/icons/About/marker.svg")
  }
  