@import "tailwindcss";

@font-face {
    font-family: CoFoSans;
    src: url(./assets//fonts/CoFoSans-Regular.ttf) ;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
.font-cofo{
  font-family: CoFoSans;
  font-display: swap;
}

@font-face {
    font-family: Blessed;
    src: url(./assets//fonts/BlessedScript-Regular.otf) ;
    font-weight: normal;
    font-style: normal;
  font-display: swap;

  }
  
.font-blessed{
  font-family: Blessed;
  font-display: swap;

}

@font-face {
  font-family: 'CoFoSans-Medium';
    src: url(./assets//fonts/CoFoSans-Medium.ttf) ;
  font-weight: 500;
  font-style: normal;
  font-display: swap;

}

.font-cofo-medium{
  font-family: 'CoFoSans-Medium';
  font-display: swap;

}
@font-face {
  font-family: 'CoFoSans-Two';
    src: url(./assets//fonts/CoFoSans-Regular1.ttf) ;
  font-weight: 500;
  font-style: normal;
  font-display: swap;

}

.font-cofo-medium{
  font-family: 'CoFoSans-Medium';
  font-display: swap;

}

body{
  font-family: 'CoFoSans';
  font-display: swap;

}