@import "tailwindcss";

@font-face {
    font-family: CoFoSans;
    src: url(./assets//fonts/CoFoSans-Regular.ttf) ;
    font-weight: normal;
    font-style: normal;
  }
  
.font-cofo{
  font-family: CoFoSans;
}
@font-face {
    font-family: Blessed;
    src: url(./assets//fonts/BlessedScript-Regular.otf) ;
    font-weight: normal;
    font-style: normal;
  }
  
.font-blessed{
  font-family: Blessed;
}